/* write your css here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem 0;
  max-width: 1300px;
  min-height: 100vh;
  margin-inline: auto;
}

.main-heading {
  margin-top: 3rem;
  font-size: 2.8rem;
  padding: 0.5rem 0;
  background-color: #a3a3f0bd;
  color: #333333fd;
  width: 100%;
  text-align: center;
}

.cards-container {
  width: 100%;
  /* background-color: red; */
}

.cards {
  width: 90%;
  margin-inline: auto;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
  border-radius: 0.5rem;
}

img {
  width: 340px;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.4s;
}
img:hover {
  transform: scale(1.04);
}

.img-box {
  width: 340px;
  height: 340%;
  overflow: hidden;
}

.btn-refresh {
  all: unset;
  background-color: #ccc;
  color: #555;
  padding: 1rem 3rem;
  border-radius: 1rem;
  transition: all 0.2s;
}
.btn-refresh:hover {
  background-color: #bbb;
  color: #444;
  padding: 1rem 3rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.btn-refresh:active {
  background-color: #ccc;
  color: #555;
}

.btn {
  all: unset;
  width: 50%;
  text-align: center;
  background-color: #eee;
  color: #555;
  padding: 0.5rem 0;
  border: 2px solid rgba(255, 0, 0, 0.288);
  border-radius: 1rem;
  transition: all 0.2s;
}

.tour-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.tour-info p:nth-child(1) {
  color: green;
  font-weight: 700;
}
.tour-info p:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
}
